/*Class style*/
.form-div {
   padding: 30px;
}

html, body {
    height: 100%;
}

#main h1 {
  min-height: 3em; /* Reserve space for 2+ lines */
  margin-bottom: 1rem;
  word-break: break-word;
}